* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1e1e;
}

.container {
  display: flex;
  gap: 40px;
  background: #1e1e1e;
  padding: 40px;
  border-radius: 8px;
  max-width: 1200px;
  width: 100%;
  border: solid 1px yellow;
}

@media (max-width: 992px) {
  .container {
    flex-direction: column;
  }
}